---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { GitHubProjectButton, LiveProjectButton } from "@/components/projects/buttons";
import { Separator } from "@/components/ui/separator"
import { ProjectImagesCarousel } from "@/components/project-images-carousel";

export const getStaticPaths = ( async () => {
  const projectEntries = await getCollection('projects');
  return projectEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }))
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`${entry.data.title} | Buffington's Projects`}>
  <div class="max-w-3xl w-full flex flex-col gap-4">
    <div class="pt-10 col-span-1 space-y-2">
      <h1 class="text-4xl font-semibold tracking-wide">{entry.data.title}</h1>
      <p class="text-base text-[#d3d3d4]">{entry.data.description}</p>
      <div class="pt-2 flex flex-row gap-4">
        {entry.data.live && <LiveProjectButton href={entry.data.live} />}
        {entry.data.github && <GitHubProjectButton href={entry.data.github} />}
      </div>
    </div>
    
    <Separator className="bg-gray-500 mt-2 mb-4" />
    
    {entry.data.images && <ProjectImagesCarousel client:load image_srcs={entry.data.images} />}

    <div class="h-6"></div>

    <div class="prose dark:prose-invert prose-p:text-[#d3d3d4] prose-h2:leading-[0]">
      <Content />
    </div>
  </div>
</Layout>
