---
import { getCollection } from 'astro:content';
import Layout from '@/layouts/Layout.astro';
import portraitImg from '@/assets/portrait.png';
import { AnimatedLinkButton, BlueskyButton, GitHubButton, LinkedInButton, MailButton, TwitterButton } from '@/components/projects/buttons';
import FeaturedProjectCard from '@/components/projects/featured-project-card';
import ServiceCard from '@/components/service-card';
import { Button } from '@/components/ui/button';
import { EMAIL } from '@/lib/data';

const featuredProjects = (await getCollection("projects", (project) => project.data.featured))
	.sort((p1, p2) => p1.data.priority - p2.data.priority)
	.reverse();

const services: Service[] = [
	{
		title: "MVP Development",
		description: "Turn your concept into a working product quickly and efficiently.",
		image: "/src/assets/service-thumbnails/mvp-development-thumbnail.jpg",
		details: [
			"Build a proof-of-concept to validate your idea",
			"Develop a minimum viable product for market testing",
			"Create scalable solutions that can grow with your business",
			"Implement secure, performant applications with best practices",
		],
		calLink: "https://cal.com/cbuffington/mvp-development"
	},
	{
		title: "Engineering Consultation",
		description: "Leverage my experience as a Software Engineering Architect to solve complex technical challenges.",
		image: "/src/assets/service-thumbnails/engineering-consulting-thumbnail.jpg",
		details: [
			"Technical architecture planning and review",
			"Performance optimization and scalability solutions",
			"Cloud infrastructure design (AWS, GCP, Digital Ocean)",
			"Development process optimization",
			"Technology stack evaluation and recommendations",
			// "Security assessment and implementation",
		],
		calLink: "https://cal.com/cbuffington/engineering-consultation"
	},
	{
		title: "Full-Time Engineering",
		description: "Looking to strengthen your engineering team?",
		image: "/src/assets/service-thumbnails/fulltime-engineering-thumbnail.jpg",
		details: [
			"Full-stack web development",
			"API design and implementation",
			"Leadership and technical documentation",
			"Cloud infrastructure and DevOps",
			// "Microservices architecture",
			"Open to full-time and contract positions",
		],
		calLink: "https://cal.com/cbuffington/new-engineering-role"
	}
]
---

<Layout title="Charles Buffington">
	<!-- HEADLINE -->
	<section id="about" class="relative flex flex-col-reverse lg:flex-row items-center px-2">
		<article class="max-w-[600px] lg:pt-20 flex flex-col justify-center items-center lg:items-start gap-3">
			<div class="flex flex-col justify-center items-center gap-0.5 lg:items-start pt-5 lg:pt-6">
				<h1 class="text-2xl lg:text-[40px] lg:leading-10 font-merriweather font-bold bg-clip-text">Charles Buffington II</h1>
				<h2 class="text-white/80 text-sm lg:text-xl">Software Engineer, Follower of Christ.</h2>
			</div>
			<p class="text-md text-white/60 text-center lg:text-start text-sm lg:text-base">
				I craft elegant, robust software solutions that drive business success.
				<br>
				I'm interested in software design, productivity science, and robotics.
				<br>
				Currently based in <a href="https://maps.app.goo.gl/HGJqpsgaUhTTWXMT6" target="_blank" class="underline hover:text-white/90">Michigan, USA</a>.
				Open to relocation 👀.
			</p>
			<!-- TODO: Tech Stack -->
			<nav class="flex flex-row gap-3">
				<GitHubButton className="size-9" />
				<LinkedInButton className="size-9" />
				<TwitterButton className="size-9" />
				<BlueskyButton className="size-9" />
				<MailButton className="size-9" />

				<div></div>

				<!-- <AnimatedLinkButton label="more about me" href="/about" /> -->
			</nav>
		</article>

		<aside class="relative h-[330px] lg:h-[600px] overflow-visible rounded-full">
			<div class="backdrop-blur absolute bottom-44 right-1 bg-transparent -z-10 rounded-full"></div>
			<div class="relative w-[300px] h-[450px] flex flex-wrap select-none pointer-events-none gap-0">
				<div class="hidden lg:block absolute z-10" style="opacity: 1; transform: translateX(50px) translateY(190px) translateZ(0px);">
					<img src={portraitImg.src} alt="portrait of Charles Buffington" class="rounded-lg rotate-2">
				</div>
				<div class="block lg:hidden absolute z-10" style="transform: translateY(50px);">
					<img src={portraitImg.src} alt="portrait of Charles Buffington" class="scale-75 rounded-lg">
				</div>
			</div>
		</aside>
	</section>

	<!-- FEATURED PROJECTS -->
	<section id="projects" class="pt-24 pb-32 flex flex-col items-center justify-center">
		<div class="flex flex-col gap-3 px-4 text-center sm:px-1 sm:pt-10">
			<h1 class="text-2xl md:text-3xl lg:text-4xl font-bold bg-clip-text">What I've Built 🛠️</h1>
			<span class="text-white/50 italic">"The best way to learn is to build sh*t."<span class="not-italic"> &boxh; Theo Browne</span></span>
		</div>

		<div class="min-h-52 w-full max-w-7xl grid gap-8 md:grid-cols-2 pt-12 pb-6 px-8">
			{featuredProjects.map((project) => (
				<div class="max-w-lg">
					<FeaturedProjectCard project={project} />
				</div>
			))}
		</div>

		<AnimatedLinkButton label="See All Projects" href="/projects" />
	</section>

	<!-- MY SERVICES -->
	<section id="services" class="py-24 flex flex-col items-center justify-center">
		<div class="container mx-auto px-4">
			<h2 class="text-2xl md:text-3xl lg:text-4xl font-bold text-center mb-3 text-white">My Services</h2>
			<p class="text-center text-white/50 mb-12 max-w-2xl mx-auto">
				Here are all of the ways that I can help YOU.
			</p>

			<div class="max-w-lg md:max-w-full grid grid-cols-1 lg:grid-cols-3 gap-8 px-4">
				{services.map((service) => (
					<ServiceCard service={service} />
				))}
			</div>

			<div class="text-center mt-12">
				<p class="text-base font-semibold mb-4 text-white/50">Ready to discuss your project?</p>

				<a href={`mailto:${EMAIL}`}>
					<Button variant="default" size="lg" className="px-6 py-6 font-medium text-base rounded-md">
						Contact me
					</Button>
				</a>
			</div>
		</div>
	</section>
</Layout>
